.header__logo {
    display: flex;
    justify-content: space-between;
    margin: 12px 32px 0px 32px
}
.obertka {
 
  justify-content: space-between;
    width: 76%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrapper  {
  
  color: var(--text-main, #212529);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.phone {
  margin-right: 32px;
  color: var(--text-main, #212529);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.burger {
  display: none;
}

.bigText {
  margin-top: 160px;
  margin-left: 32px;
  width: 72%;
  color: var(--text-main, #212529);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: 120%; 
text-transform: uppercase;
}

.ZakazProektForadaptiv {
  display: none;
}

.ZakazProekt {
  text-decoration:underline ;
  width: 163px;
  height: 21px;
display: inline-flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.obertka2 {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-right: 32px;
}

.oKompanuu {
  display: none;
}

.obertka3 { 
  
  margin: 12px 50px 0px 32px;
  color:var(--text-main, #212529);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  list-style-type:  none;
  }


.livingroom1 {
  width: 678px;
height: 809px;
flex-shrink: 0;
}

.livingroom2 {
    width: 329px;
height: 493px;
flex-shrink: 0;
margin-top: 17%;
}

.nnn {
  display: flex;
    margin-top: 6%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.zadymka {
  color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 400px;
    margin-top: 50px;
  width: 400px;
  margin-top: 50px;

}

.obertka4 {
  margin: 149px 47px 0px 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pytlet {
  flex-wrap: wrap;
    display: flex;
  width: 40%;
  color: var(--text-main, #212529);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Helvetica;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.about-innercol {
  width: 446px;
  margin-left: 118px;
  color: var(--text-main, #212529);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}

.golova {
  margin: 0;
  color: var(--text-main, #212529);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Helvetica;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.niz {
  margin: 0;
  color: var(--text-main, #212529);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; 
}

.benefits {
  list-style-type:  none;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
padding-top: 40px;
padding-left: 0;
}

.project {
  margin-top: -146px;
  display: flex;
    height: 300px;
    width: 562px;
    flex-direction: column;
    justify-content: center;
}

.steps-innercol {
  padding-left: 5.5%;
color: var(--text-main, #212529);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
}

.obertka5 {
  margin: 105px 47px 0px 32px;
    flex-direction: row;
    display: flex;
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
    flex-wrap: wrap;
}

.obertka6 {
  max-width: 100%;
  height: auto;
}

.steps_text {
  color: var(--text-main, #212529);
font-feature-settings: 'clig' off, 'liga' off;

font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
  width: 325px;
  margin-left: 2%;
}

.steps2 {
  width: 678px;
}

.text {
  color: var(--text-main, #212529);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 290px;
  width: 290px;
}

.Bigslovo {
  color: var(--text-main, #212529);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Helvetica;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
  width: 328px;
}

.Items6 {
  margin-left: -4%;
  display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.line {
  margin-left: -27px;
  width: 618px;
height: 6px;
    border-bottom: 1px solid rgb(0, 0, 0); 
}

.cereduna {
  margin-left: 32px;
  color: var(--text-main, #212529);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.projects-list {
  list-style: none;
    gap: 1.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.textpruvsplytue {
  font-size: 1rem;
  line-height: 140%;
  color: #212529;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.link {
    
}
.projects-list {
  padding-left: 10px;
}

.Otzyv {
  margin-left: 32px;
color: var(--text-main, #212529);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Helvetica;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.reviews {
  margin: 0px 32px 0px 0px;
  justify-content: space-between;
  list-style-type:  none;
  flex-wrap: wrap;
  display: flex;
  gap: 133px;
}

.name-otzyva {
  align-items: center;
    justify-content: center;
  color: var(--text-main, #212529);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Helvetica;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.text-otzyva {
  width: 365px;
  display: flex;
    align-items: center;
    justify-content: center;
color: var(--text-main, #212529);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
}

.review-icon {
display: flex;
    align-items: center;
    justify-content: center;
}

.name-otzyva {
  display: flex;
    align-items: center;
    justify-content: center;
}

.obertka7 {
  margin-top: 120px;
}

.napolnenue-otzyva {
  padding: 2.5rem;
border: 1px solid #000;

background: #FFF;
}

.obertka8 {
  margin-left: 32px;
  margin-top: 120px;
}

.obertka8 {
  display: flex;
}

.title {
  margin-left: 132px;
}

.pt {
color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Helvetica;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.zayvka {
  color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
}

.textfild {
display: flex;
width: 562px;
height: 31px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 12px;
border-top-width: inherit;
    border-right-width: inherit;
    border-left-width: inherit;
    border-bottom-width: 2px;

}
.Email {
  display: flex;
width: 562px;
height: 31px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 12px;
border-top-width: inherit;
    border-right-width: inherit;
    border-left-width: inherit;
    border-bottom-width: 2px;
    margin-top: 10px;
}

.number {
  display: flex;
  width: 562px;
  height: 31px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  border-top-width: inherit;
      border-right-width: inherit;
      border-left-width: inherit;
      border-bottom-width: 2px;
      margin-top: 10px;
}

.zayvka1 {
  margin-top: 24px;
  display: inline-flex;
padding: 12px 20px;
justify-content: center;
align-items: center;
background: var(--text-main, #212529);
}

.text22 {
  color: var(--bg-white, #FFF);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;

font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
}

.appstoreAndgp {
height: 36px;
  margin-top: 40px;
}

.aveji {
margin-bottom: 1px;
}

.prava {
  margin-top: 1px;
}

.footer {
  color: var(--text-main, #212529);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
margin: 100px 32px 8px 32px;
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}